$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
/* Graphic Design Text */
$DarkDesaturatedCyan: hsl(167, 40%, 24%);
/* Photography Text */
$DarkBlue: hsl(198, 62%, 26%);
/* Footer Color */
$DarkModerateCyan: hsl(168, 34%, 41%);

$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$DarkGrayishBlue: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
}
// Common Styles
.heading {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-align: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.links {
  display: flex;
}
.desktop-img {
  display: none !important;
}

// Header
header {
  background-image: url(./images/mobile/image-header.jpg);
  min-height: 80vh;
  background-position: bottom center;
  background-size: cover;

  display: grid;
  grid-template-rows: auto 1fr;
}

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 2rem 0 0;
  margin: 0 2rem 2rem;
  position: relative;
}
.navbar-button__toggle {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 1rem;

  display: flex;
}
.navbar-links__container {
  flex-basis: 100%;
  flex-grow: 1;

  position: absolute;
  top: 10rem;
  width: 100%;
  background-color: $White;
  color: $VeryDarkGrayishBlue;
  padding: 3.5rem 0;

  &.show {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -7rem;
      right: 0;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $White;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    li {
      a {
        padding: 1rem;
        color: currentColor;

        display: block;
      }

      .contact-link {
        background-color: $Yellow;
        color: $VeryDarkDesaturatedBlue;

        border-radius: 500px;
        padding: 1.5rem 2.5rem;

        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        transition: all 250ms ease-in-out;

        &:hover {
          background-color: rgba($color: $White, $alpha: 0.3);
          color: $White;
        }
      }
    }
  }
}
.collapse {
  display: none;
}

// Hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  .hero-heading {
    color: $White;
    margin: 10rem 0 0;
    width: min-content;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 3.5rem;
  }

  .hero-arrow {
    width: 36px;
    height: 114px;
  }
}

// Infographics
.infographics {
  .gc-2-1fr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: auto;
  }

  .transform {
    grid-template-areas:
      'image'
      'content';
  }
  .stand-out {
    grid-template-areas:
      'image'
      'content';
  }
}
.infographics-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 7rem 4rem;

  grid-area: content;

  .infographics-heading {
    text-align: center;
    font-size: 3.2rem;
  }

  .infographics-text {
    color: $VeryDarkGrayishBlue;
    line-height: 1.7;
    font-size: 1.6rem;
    text-align: center;
  }

  .infographics-cta {
    display: block;
    margin-left: 0.5rem;
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    text-transform: uppercase;

    position: relative;
    z-index: 1;
    width: max-content;

    color: $VeryDarkDesaturatedBlue;

    &::after {
      position: absolute;
      content: '';
      z-index: -1;
      left: -0.5rem;
      bottom: 0rem;

      width: calc(100% + 1rem);
      height: 0.8rem;

      display: block;

      border-radius: 2rem;
      opacity: 0.3;
      transition: all 250ms ease-in;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  .transform__cta::after {
    background-color: $Yellow;
  }
  .stand-out__cta::after {
    background-color: $SoftRed;
  }
}

.infographics-image {
  display: flex;

  grid-area: image;

  img {
    width: 100%;
    display: flex;
    object-fit: cover;
    min-height: 500px;
  }
}
.gc-1-1fr {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
.graphic-design__image,
.photography__image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  img {
    min-height: 600px;
  }
}
.graphic-design__content,
.photography__content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;

  text-align: center;
  margin: 0 2.5rem 5rem;

  h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
  }

  p {
    line-height: 1.7;
    font-size: 1.6rem;
  }
}
.graphic-design__content {
  color: $DarkDesaturatedCyan;
}
.photography__content {
  color: $DarkBlue;
}

// Testimonials
.testimonials {
  padding: 13rem 0;

  .testimonials-heading {
    color: $GrayishBlue;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 5rem;
  }

  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
  }
}
.testimonial-card {
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  .testimonial-card__img {
    display: flex;

    img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
    }
  }

  .testimonial-card__text {
    text-align: center;
    font-size: 1.6rem;
    color: $VeryDarkGrayishBlue;
    line-height: 1.6;
  }

  .testimonial-card__person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-top: 0.5rem;

    .person-name {
      font-family: 'Fraunces', serif;
      font-size: 1.7rem;
    }

    .person-job__position {
      color: $DarkGrayishBlue;
      font-size: 1.3rem;
    }
  }
}

// Image Gallery
.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  img {
    width: 100%;
    display: flex;
  }
}

// Footer
footer {
  background-color: $DarkModerateCyan;
  padding: 7rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .footer-links {
    gap: 1rem;

    li a {
      padding: 1rem;
      color: $DarkDesaturatedCyan;
      display: block;
      transition: all 250ms ease-out;

      &:hover {
        color: $White;
      }
    }
  }

  .footer-social__links {
    gap: 1rem;
    margin-top: 3rem;

    li a {
      padding: 1rem;
      color: $DarkDesaturatedCyan;
      display: flex;
      font-size: 2rem;
      transition: all 250ms ease-out;

      &:hover {
        color: $White;
      }

      img {
        width: 100%;
      }
    }
  }
}

// Media Queries
@media (min-width: 575px) {
  // Header
  header {
    min-height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
  }
}

@media (min-width: 768px) {
  // Common Styles
  .mobile-img {
    display: none !important;
  }
  .desktop-img {
    display: flex !important;
  }

  // Hero
  .hero {
    .hero-heading {
      font-size: 6rem;
    }
  }

  // Image Gallery
  .image-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  // Infographics
  .graphic-design__content,
  .photography__content {
    margin: 0 5rem 5rem;
  }
  .infographics {
    .gc-2-1fr {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
    }

    .transform {
      grid-template-areas: 'content image';
    }
    .stand-out {
      grid-template-areas: 'image content';
    }
  }
  .infographics-content {
    padding: 0 8rem;
    align-items: unset;

    .infographics-heading {
      text-align: left;
      font-size: 4rem;
    }
    .infographics-text {
      text-align: left;
    }
  }
}

@media (min-width: 992px) {
  // Navbar
  .navbar-button__toggle {
    display: none;
  }
  .navbar-links__container {
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    position: unset;
    width: unset;
    top: unset;
    background: none;
    color: white;
    padding: 0;

    .navbar-links {
      &::before {
        background: none;
      }

      li .contact-link {
        background-color: $White;
      }
    }

    .navbar-links {
      flex-direction: row;
    }
  }

  // Hero
  .hero {
    .hero-heading {
      width: max-content;
    }
  }

  // Infographics
  .graphic-design__content,
  .photography__content {
    margin: 0 10rem 5rem;
  }
}
